@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Quicksand|Courgette|Asap|Abril+Fatface|Crete+Round|Josefin+Slab|Mansalva|Pacifico&display=swap');

:root{
  --color: #bbb;
}

body{
  /* background-color: var(--color);
  color: var(--color); 
  color: #222; */
  transition: background .7s;
  background: #70e1f5;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  

}

.box-wrapper {
 margin: 300px auto;
}

.box {
  width: 900px;
  /* background-color: rgba(0, 0, 0, 0.103); */
  border-radius: 30px;
  padding: 0 60px;
  box-sizing: border-box;
  transition: all 1s;
  /* border: 3px solid white; */
}

.box h1 {
  text-align: center;
  font-family: 'Courgette', cursive;
  font-weight: 700;
  font-size: 70px;
  letter-spacing: -2.5px;
  margin-bottom: 20px;
  position: relative;
  top: -50px;
}

.quote-symbol {
  color: #fff;
  background-color: #222;
  border-radius: 50%;
  position: relative;
  left: 50px;
  top: -70px;
  width: 150px;
  height: 150px;
  box-shadow: 5px 10px 18px rgba(30, 30, 30, 0.5);
  transition: background-color 1s;
}

.quote-symbol:before{
  font-family: Arial;
  color: #fff;
  font-size: 350px;
  content: '\201c';
  position: absolute;
  top: -100px;
  right: 15px;
}



.quote-content{
  position: relative;
  top: -41px;
}

.text{
  font-family: 'Abril Fatface', cursive;
  font-size: 2.5em;
  font-weight: 500;
  color:  rgb(253, 253, 253);
  letter-spacing: 2px;
  line-height: 1.125;
  text-align: left;
  transition: opacity .8s;
  position: relative;
  /* top: -30px; */
  text-align: justify;
}

.text > p {
  margin-bottom: 1.5rem;

}
.author {
  text-align: right;
  font-size: 1.5rem;
  font-family: 'Caveat', cursive;
  font-style: italic;
  text-transform: capitalize;
  font-weight: 700;
  margin-bottom: 10px;
  transition: opacity .8s;
  color: #30BCED;

}

/* .btnQuote {
  justify-content: flex-end;
} */

.btn {
 transition: opacity 1s;
}

.mediaIcons {
  text-align: right;

}

i{
  font-size: 40px;
  margin-right: 15px;
  transition: opacity 1s, color 0.3s;
}

.f-icon{
  margin-right: 0;

}

.t-icon:hover,
.f-icon:hover  {
  color: rgba(255,255,255,.9) !important;
}



footer{
  text-align: start;
  display: flex;
  justify-content: space-between;
}



.btn{
  width: 150px;
  height: 55px;
  transition: all 1s;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 0px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.btn:hover{
  opacity: .5;
  transition: opacity 1s;
}

